body {
    font-size: 16px;
    color: #fff;
    background-color: #61122f;
    font-family: 'Oxygen', sans-serif;

}

/* HEADER */
#header-nav {
    background-color: #f6b319;
    border-radius: 0;
    border: 0;
}

#logo-img {
    
    width: 100px;
    height: 100px;
    margin: 10px 15px 10px 0;
}



.navbar-brand h1{
    font-family: 'Merriweather', serif;
    color: #557c3e;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
    padding-top: 25px;
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

.navbar-brand p {
    color: #000;
    text-transform: uppercase;
    font-size: .7em;
    margin-top: 15px;
}

.navbar-brand p span{
    vertical-align: middle;
}

.navbar-collapse {
    flex-grow: 0;
}

.navbar-icons {
    width: 1.5em;
    height: 1.5em;
    margin: 0 7px 0 7px;
}

.navbar-icon-hover{
    opacity: 0.5;
}

.navbar-icon-hover:hover {
    opacity: 1;
}

.nav-item {
    padding-right: 20px;
}

#nav-list {
    margin-top: -10px;
}

#nav-list a {
    color: #951C49;
    text-align: center;
    font-size: 1.5em;
}

#phone a{
    text-align: right;
}

#phone div{
    color: #557c3e;
    text-align: right;
    margin-top: -8px;
}

button.navbar-toggler {
    border: 1px solid white;
    opacity: 0.5;
}


@media (min-width: 1200px) {

}

@media (min-width: 992px) and (max-width: 1199px) {
   .navbar-brand h1{
       font-size: 2.5vw;
   }
   #nav-list a{
    font-size: 1.4em;
}
}

@media (min-width: 768px) and (max-width: 991px) {
    
}

@media (max-width: 767px) {
    .navbar-brand h1{
        font-size: 5vw;
    }
    
    .navbar-brand p{
        font-size: 0.5em;
    }

    #nav-list a{
        font-size: 1.2em;
    }
}